<h1>{{productName}}</h1>

    <img src="{{localImageLink}}">

    <img src="{{displayImageLink}}">

    <h3>{{productDesc}}</h3>

    <h2><a href="{{addToCartLink}}">Add to Cart</a></h2>

    <h2><a href="{{continueShoppingLink}}">Continue Shopping</a></h2>
